nav {
  position: fixed; /* necessário para posicionar o título */
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 2rem;
  background-color: var(--lilas-suave); /* cor do fundo */
}

nav h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* centraliza horizontalmente */
  color: var(--acai-intenso);
  margin: 0;
}
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto; /* empurra para a direita */
  background-color: var(--vinho-frutado);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button svg {
  width: 24px;
  height: 24px;
}

.logout-button:hover {
  background-color: var(--roxo-medio);
}

.chat-link button {
  margin-left: auto; /* empurra para a direita */
  background-color: var(--vinho-frutado);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; /* abaixo do nav */
  right: 0;
  background-color: var(--lilas-suave);
  padding: 1rem;
  border-radius: 8px;
}

.inactive {
  display: none; /* esconde o menu */
}

.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.2rem;
}

.menu ul li {
  padding: 1rem;
  color: var(--acai-intenso);
  border-bottom: 1px solid var(--roxo-medio);
}

/* definir container para ocupar toda a tela e sobrepor os itens*/

.container_form_private{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* fundo semi-transparente */
}
.container_form_private.inactive {
    display: none; /* esconde o container */
}

.container_form_private form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; /* largura fixa */
}