* {
  box-sizing: border-box;
}

:root {
  --background: #0E0E10;
  --container-background: #18181b;
  --container-background-secondary: #1f1f23;
  --highlights: #9146ff;
  --highlights-hover: #a970ff;
  --text-color: #FFFFFF;
  --text-color-secondary: #b9bbbe;
  --borders: #2c2f33;
}

h1,
h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--highlights);
}
.validations-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.validations-container p{
  margin: 0;
  text-align: center;
}
.validations-container ul{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 5px;
}
.validations-list li{
  color: var(--text-color-secondary);
  font-size: 1rem;
  list-style: none;
}

.validations-list li.invalid{
  color: var(--highlights);
}

.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  margin: auto;
  border-radius: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: var(--container-background-secondary);
  border-radius: 2rem;
  border: 1px solid var(--borders);
  box-shadow: 0px 0px 10px var(--borders);
}

.create-room-form {
  width: 100%;
  max-width: 600px;
}

label {
  font-weight: bold;
  color: var(--text-color-secondary);
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select {
  padding: 0.5rem;
  border: 1px solid var(--borders);
  border-radius: 0.5rem;
  width: 100%;
  background: var(--container-background-secondary);
  background-color: var(--container-background);
  color: var(--text-color-secondary);
  font-size: 1rem;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
select::placeholder {
  color: var(--text-color-secondary);
  font-style: italic;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: var(--highlights);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--highlights-hover);
}

.rooms {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
}

.rooms p {
  font-size: 1.2rem;
  color: var(--text-color-secondary);
  margin: auto;
  text-align: justify;
}

.room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--highlights-hover);
  cursor: default;
}

button {
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.logout-button {
  background-color: var(--highlights);
}
.logout-button:hover {
  background-color: var(--highlights-hover);
}
.success {
  background-color: var(--highlights);
}

.success:hover {
  background-color: var(--highlights-hover);
}
.secondary {
  background-color: var(--container-background-secondary);
  border: 1px solid var(--borders);
}
.secondary:hover {
  background-color: var(--borders);
}

.room-name {
  font-weight: bold;
  color: var(--highlights);
}

.btn-actions {
  display: flex;
  gap: 10px;
}

.success-message {
  background-color: var(--highlights);
}
.error-message {
  background-color: var(--highlights-hover);
  color: var(--text-color);
}

.room-info {
  display: flex;
  flex-direction: column;
}

.room-owner {
  font-size: 0.9rem;
  color: var(--text-color-secondary);
  margin: 0;
}
.room-owner-username {
  font-size: 0.9rem;
  color: var(--highlights-hover);
  margin: 0;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--container-background);
  border-top: 1px solid var(--borders);
  bottom: 0;
}
footer p {
  color: var(--text-color-secondary);
  font-size: 0.9rem;
  margin: 0;
}

@media (max-width: 600px) {
  .login-container {
    padding: 2rem;
    border-radius: 1rem;
  }

  .form-container {
    padding: 1rem;
  }
}
