* {
  box-sizing: border-box;
}
:root {
  --acai-intenso: #4b1e3f;
  --roxo-medio: #6e2c63;
  --vinho-frutado: #8b3a6e;
  --lilas-suave: #c8a2c8;
  --creme-coco: #f4e4d4;
}

h1,
h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--acai-intenso);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  margin: auto;
  border-radius: 2rem;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #fff9fb88;
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.create-room-form {
  margin-top: 100px;
  width: 100%;
  max-width: 600px;
}

label {
  font-weight: bold;
  color: var(--roxo-medio);
}
input[type="text"],
input[type="number"],
input[type="password"],
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--lilas-suave);
  color: #b895b8;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
select::placeholder {
  color: #b895b8;
  font-style: italic;
}

input[type="submit"] {
  background-color: var(--vinho-frutado);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--roxo-medio);
}

.rooms {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 600px;

}

.room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--lilas-suave);
}

button {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.logout-button {
  background-color: #dc3545;
}
.logout-button:hover {
  background-color: #c82333;
}
.success {
  background-color: var(--vinho-frutado);
}

.success:hover {
  background-color: var(--roxo-medio);
}

.room-name {
  font-weight: bold;
  color: var(--acai-intenso);
}


.btn-actions {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .login-container {
    padding: 2rem;
    border-radius: 1rem;
  }

  .form-container {
    padding: 1rem;
  }
}
