:root {
  --acai-intenso: #4b1e3f;
  --roxo-medio: #6e2c63;
  --vinho-frutado: #8b3a6e;
  --lilas-suave: #c8a2c8;
  --creme-coco: #f4e4d4;
}

.title {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2rem;
}
p {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  color: var(--roxo-medio);
  text-align: justify;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: var(--creme-coco);
  background: linear-gradient(to right, var(--creme-coco), var(--lilas-suave));
  height: 100vh;
}

#root {
  width: 100%;
  margin: auto;
}

.chat-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.success-message,
.error-message {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: var(--roxo-medio);
}
