:root {
  --acai-intenso: #4B1E3F;
  --roxo-medio: #6E2C63;
  --vinho-frutado: #8B3A6E;
  --lilas-suave: #C8A2C8;
  --creme-coco: #F4E4D4;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: var(--creme-coco);
  background: linear-gradient(to right, var(--creme-coco), var(--lilas-suave));
  height: 100vh;
}

#root {
  width: 100%;
  margin: auto;
}

.chat-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.success-message, .error-message {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: var(--roxo-medio);
}